<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] - StudyForMoney</title>
    }
    else
    {
        <title>StudyForMoney</title>
    }
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
