@{
    ViewData["Title"] = "Home";
}
<div class="row text-center">
    <h1>Make Money while you Study</h1>
    <h4>The pay or contribute incentive structure makes possible <br />the participation of everybody in the world regardless of financial background.</h4>
</div>
<hr />
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="thumbnail">
            <img src="~/images/MicrosoftBitcoin.jpg" alt="" class="img-responsive">
            <div class="caption">
                <h3>
                    Learn Programming<br />
                    ...but with Bitcoin
                </h3>
                <p>"Let me warn you: learning about Bitcoin is like taking the red pill from The Matrix. You may find yourself ready to quit your job to work on it full time." - Nicolas Dorier, creator of NBitcoin, an instructor of this course.</p>
                <p></p>
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select difficulty <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Novice</a></li>
                        <li><a>Advanced Beginner</a></li>
                        <li><a>Competent</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a>Proficient</a></li>
                        <li><a>Expert</a></li>
                    </ul>
                </div>
                <p><a href="#" class="btn btn-primary" role="button">Start course</a>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <hr />
    <h1>-Principles-</h1>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Multisensory input</h3>
            </div>
            <img src="~/images/MultiSensoryInput.jpg" alt="" class="img-circle" />
            <div class="caption">
                <p>We do know if a material is presented to us in different ways not only our understanding on it will be better, but also it will retain better.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Dreyfus levels</h3>
            </div>            
            <img src="~/images/Dreyfus.jpg" alt="" class="img-circle" />
            <div class="caption">
                <p>In the fields of education and operations research, the Dreyfus model of skill acquisition is a model of how students acquire skills through formal instruction and practicing.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Synthesis vs analysis</h3>
            </div>
            <img src="~/images/SynthesisAnalyis.jpg" alt="" class="img-circle" />
            <div class="caption">
                <p>. MoneyForStudy encourages students to gain experience, on lower Dreyfus stages by teaching and interacting with peers, on higher ones by encouraging participation in real world projects.</p>
            </div>
        </div>
    </div>
</div>