@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We do not store any of your personal information that you do not share with us.<br/>
    You are not even required to give us your email address.<br/>
</p>
<p>
    We do not store any activity log and we do not share that nothing with any third party.
</p>