@{
    ViewData["Title"] = "Terms and Conditions";
}
<h1>@ViewData["Title"]</h1>

<p>
    By visiting our site you agree on after your death we may take away your soul and do anything what we want with it.
</p>